@using System.Globalization
@model PartyInvites.Models.Party;
@{
    Layout = null;
}

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Index</title>
        <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css"/>
        <link rel="stylesheet" href="~/css/BodyDesign.css" />
    </head>
    <body>
        <div class="text-center text-light shadow-text">

            <div class="p-5">
                <h1 class="">Вечеринка в честь дня факультета</h1>                              
                <br /> 
            </div>

            <div class="p-5">
                <h3>
                Мероприятие состоится <br />
                @Model.DateOfParty.ToString("dd MMMM, yyyy",
                CultureInfo.CreateSpecificCulture("ru-RU"))
                </h3>
            </div>
           
            <div class="p-5">
                <h3>Тебя ждут: настольные игры, музыка, танцы и ночной кинопоказ, <br />фотозона, DJ и не забываемые эмоции</h3> 
            </div>
            
                       
        </div>
        <div class="text-center p-5">
                <a class="btn btn-primary m-5" asp-action="RsvpForm">Ответить на приглашение</a>
        </div>
    </body>
</html>