@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model PartyInvites.Models.GuestResponse

@{
    Layout = null;
}

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Ответ</title>
        <link rel="stylesheet" href="/css/ErrorStyleSheet.css"/>
        <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css"/>
        <link rel="stylesheet" href="~/css/BodyDesign.css" />
    </head>
    <body>
        <div class="container mt-5 w-50 text-light">
                 <form asp-action="RsvpForm" method="post">
                       <div asp-validation-summary="All"></div>
                       <div class="form-group">
                       
                            <label asp-for="Name" class="shadow-text">Ваше имя:</label>
                            <input class="form-control" asp-for="Name" />                      
                       
                           <label asp-for="Email" class="shadow-text">Ваш эмайл:</label>
                           <input class="form-control" asp-for="Email" />                       
                       
                            <label asp-for="Phone" class="shadow-text">Ваш телефон:</label>
                            <input class="form-control" asp-for="Phone" />
                       
                            <label class="shadow-text">Вы прийдете?</label>
                            <select class="form-control" asp-for="WillAtend">
                                <option value="">Выберите вариант</option>
                                <option value="true">Да, я буду</option>
                                <option value="false">Нет, я не прийду</option>
                            </select>
                       </div>                      
                       <button class="btn btn-primary mt-3" type="submit">Ответить</button>                                  
                 </form>                 
         </div>
    </body>
</html>

